
<!-- <md-card class="example-card" *ngFor="let collection of Collections">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{collection.Make}}</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image  [src]="collection.imageURL">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card> -->

<!--/.Carousel Wrapper-->
<mdb-carousel [animation]="'slide'">
    <!--First slide-->
    <mdb-slide>
        <img class="d-block w-100 islide" src="assets/img/cake1.jpeg" alt="First slide">
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
        <img class="d-block w-100 islide" src="assets/img/cake2.jpeg" alt="Second slide">
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
        <img class="d-block w-100 islide" src="assets/img/cake3.jpeg" alt="Third slide">
    </mdb-slide>
    <!--/Third slide-->
</mdb-carousel>
 
<div align="center">
<h3 class="text-muted"><b>Our Services</b></h3>
</div>
<hr align="center" width="50%"/>
<div class="container">
  <div class="row">
   
    <div class="col sm-4">
      
     <div class="card">
       <div class="view overlay hm-white-slight">
       <img class="img-fluid" src="assets/img/sub/bdcake.jpg">
       </div>
<div class="card-body">
        <h5 class="pink-text"><i class="fa fa-cutlery"></i> Culinary</h5>
        <!--Title-->
        <h4 class="card-title">Cheat day inspirations</h4>
        <!--Text-->
        <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam .</p>
       <div align="center"> <a class="btn btn-unique">Button</a></div>
    </div>
    <!--/.Card content-->

</div>
    </div>
    
    <div class="col sm-4">
      <div class="card">
<div class="card-body">
        <h5 class="pink-text"><i class="fa fa-cutlery"></i> Culinary</h5>
        <!--Title-->
        <h4 class="card-title">Cheat day inspirations</h4>
        <!--Text-->
        <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam .</p>
        <a class="btn btn-unique">Button</a>
    </div>
    <!--/.Card content-->

</div>
    </div>
    
    <div class="col sm-4">
      <div class="card">
<div class="card-body">
        <h5 class="pink-text"><i class="fa fa-cutlery"></i> Culinary</h5>
        <!--Title-->
        <h4 class="card-title">Cheat day inspirations</h4>
        <!--Text-->
        <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam .</p>
        <a class="btn btn-unique">Button</a>
    </div>
    <!--/.Card content-->

</div>
    </div>
    
  </div>
</div>
